.no-chat{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 5px 7px #646464;
}
.no-chat .message{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #bdbdbd;
    padding-bottom: 13px;
}
.no-chat .send-request span.min-message {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
.no-chat .send-request span.bold-text {
    font-weight: bold;
}
.no-chat .send-request .btn{
    margin-right: 15px;
}