<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#urlS" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">
          <span>Ch</span>
          <span>A</span>
          <span>ty</span>
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="urlS">
        <ul class="nav navbar-nav">
          <li><a routerLink="/profile" class="profile-cont" *ngIf="isloggedIn" routerLinkActive="active"><img [src]="'http://localhost:3000/images/'+userInfo.profile" class="profile" alt="{{userInfo.firstname}} profile"  title="{{userInfo.firstname}} profile"> </a></li>
          <li><a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
          <li><a routerLink="/message/friends" *ngIf="isloggedIn" routerLinkActive="active">Friends </a></li>
          <li><a routerLink="/message/new" *ngIf="isloggedIn" routerLinkActive="active">New Message </a></li>
          <li><a routerLink="/message/request" *ngIf="isloggedIn" routerLinkActive="active">Request </a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login" *ngIf="!isloggedIn" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/signup" *ngIf="!isloggedIn" routerLinkActive="active">SignUp</a></li>
          <li><a *ngIf="isloggedIn" (click)="logOut()">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  